<%if (typeof doc != 'undefined'){%>
    <%if (doc.length>0){%>
        <% doc.forEach(d => {%>
            <div class="row blue container col s12 z-depth-4">
                <p class="col s12"><strong><%=d.label%></strong></p>
                <p class="col s3"><strong>A: </strong><%=d.answers[0]%></p>
                <p class="col s3"><strong>B: </strong><%=d.answers[1]%></p>
                <p class="col s3"><strong>C: </strong><%=d.answers[2]%></p>
                <p class="col s3"><strong>D: </strong><%=d.answers[3]%></p>
                <p class="col s4"><strong>Subject: </strong><%=d.subject%></p>
                <p class="col s4"><strong>Topic: </strong><%=d.topic%></p>
                <p class="col s4"><strong>Level: </strong><%=d.level%></p>
                <a href="#" class="btn-floating pulse left indigo"><i class="small material-icons">edit</i></a>
                <a href="#" class="btn-floating pulse right red"><i class="small material-icons">delete</i></a>
            </div>    
        <%});%>
    <%}else{%>
        <h2 class="error-display center">No Match found for the results</h2>
    <%}%>
<%}%>
